body {
    width: 350px;
    text-align: center;
    padding: 10px;
}

div {
    text-align: center;
}

textarea {
    margin: 15px;
}

html *
{
   font-size: 1em !important;
   font-family:Arial, Helvetica, sans-serif !important;
}